{% extends "base.html" %}

{% block title %}
WMGTSS: Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'QABoard.css') }}">
{% endblock %}

{% block homeLink %}
<a class="nav-link" href="{{ url_for('base.home') }}">Home</a>
{% endblock %}

{% block boardLinks %}
<li class="nav-item active">
	<a class="nav-link" href="{{ url_for('base.QABoardHome') }}">Q&A</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Lecture</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Resource</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Notice</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Calendar</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Quiz</a>
</li>
{% endblock %}

{% block body %}
<div class="container" style="padding-top: 1rem;">
	<div class="card overflow-auto" style="max-height: 57rem;">
		<div class="card-header text-white bg-dark mb-3">
			{{ board.boardName }}
		</div>
		<div class="container text-center" style="padding: 0rem;" id="questionCreationButtons">
			<div class="col-md-12 text-center">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#askQuestionModal">Ask Question</button>
				<!-- Modal -->
				<div class="modal fade" id="askQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Ask a Question</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form method="POST" action="/Q-A-Board/id/{{ board.id }}" enctype="multipart/form-data">
								<div class="modal-body">
									<div class="form-group">
										<label for="InputName">Question Title</label>
										<input name = "qTitle" type="text" class="form-control" placeholder="Enter question name" required>
										<small id="boardHelp" class="form-text text-muted">Each question must have a title</small>
									</div>
									<div class="form-group">
										<label for="InputDesc">Question Body</label>
										<textarea name="qBody" class="form-control" rows="3" placeholder="Enter question desciption" required></textarea>
										<small id="boardHelp" class="form-text text-muted">Each question can have a body</small>
									</div>
									<div class="form-group">
										<label for="InputPath">Supporting Docs</label>
										<input style="padding-bottom: 2.2rem;" name = "qDocs" type="file" class="form-control" placeholder="Choose a file">
										<small id="boardHelp" class="form-text text-muted">Each question can have supporting documents</small>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
									<button value = 'askQuestionSubmit' name='action' type="submit" class="btn btn-primary">Ask Question</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				{% if current_user.userType == 'Tutor' %}
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAnswerModal">Add Answer</button>
				<!-- Modal -->
				<div class="modal fade" id="addAnswerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Answer a Question</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form method="POST" action="/Q-A-Board/id/{{ board.id }}" enctype="multipart/form-data">
								<div class="modal-body">
									<div class="form-group">
										<select class="select" name="questionId">
											<option value="0">Select Question To Answer</option>
											{% for question in questions %}
											<option value="{{ question.id }}">{{ question.qTitle }}: {{ question.author.fName }} {{ question.author.sName }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group">
										<label for="AnswerBody">Your Answer</label>
										<textarea name="aBody" class="form-control" rows="3" placeholder="Enter your answer" required></textarea>
										<small id="boardHelp" class="form-text text-muted">Each answer must have a body</small>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
									<button value='addAnswerSubmit' name='action' type="submit" class="btn btn-primary">Answer Question</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				{% endif %}
				{% if current_user.userType == 'Tutor' %}
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteQuestionModal">Delete Question</button>
				<!-- Modal -->
				<div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Edit Board</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form action="{{ url_for('base.QABoard_post') }}" method="POST">
								<div class="modal-body">
									<div class="form-group">
										<select class="select" name="boardId">
											<option value="0">Select Board Name</option>
											{% for question in questions %}
											<option value="{{ question.id }}">{{ question.qTitle }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
									<button value='editBoardSubmit' name='action' type="submit" class="btn btn-primary">Save changes</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				{%endif%}
			</div>
		</div>
		{% if questions is defined and questions|length > 0 %}
		{% for question in questions %}
		<div class="row">
			<div class="card-body" style="margin: 1rem;">
				<div class="card border-dark">
					<div class="card-body">
						<h4 class="card-title">{{ question.qTitle }}</h4>
						<p class="card-text">{{ question.qBody }}</p>
						<!-- Button trigger modal -->
						<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapse{{question.id}}" aria-expanded="false" aria-controls="collapseExample">
							View/Close Answers
						</button>
						<div class="collapse" id="collapse{{question.id}}">
							{% for answer in answers if answer.questionId == question.id %}
							<div class="row">
								<div class="card-body">
									<div class="card bg-light" style="padding: 1rem;">
										<p class="card-text">{{ answer.aBody }}</p>
										<small class="form-text text-muted">Posted by: {{answer.author.fName}} {{ answer.author.sName}} ({{ answer.author.email }}) </small>
										<small class="form-text text-muted">Posted on: {{ answer.postDate.strftime('%d-%m-%Y %H:%M') }}</small>
									</div>
								</div>
							</div>
							{% endfor %}
							{% if answers|length == 0%}
							<div class="row">
								<div class="card-body">
									<div class="card bg-light" style="padding: 1rem;">
										<p class="card-text">Answer the question and it will show here!</p>
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<div class="card-body">
			<h4 style="text-align: center;">Ask a question! It will show up here.</h4>
		</div>
		{%endif%}
	</div>
</div>  
{% endblock %}
