{% extends "base.html" %}

{% block title %}
WMGTSS: Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}">
{% endblock %}

{% block homeLink %}
<a class="nav-link active" href="{{ url_for('base.home') }}">Home</a>
{% endblock %}

{% block boardLinks %}
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('base.QABoardHome') }}">Q&A</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Lecture</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Resource</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Notice</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Calendar</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Quiz</a>
</li>
{% endblock %}

{% block body %}
<div class="container text-center" style="padding: 1rem;">
<div class="jumbotron">
	<h1 class="display-4">Welcome to WMGTSS</h1>
	<p class="lead">WMG Teaching Support System aims to improve interaction between tutors and students.</p>
	<hr class="my-4">
	<p>
		The pandemic has highlighted inadequacies within the existing resource and lecture management systems in place at WMG. 
		These systems are creating unnecessary complications for students, resulting in an inconsistent user experience. 
		Students and tutors are spending an unacceptable quantity of time identifying the best place to upload and access resources. 
	</p>
	<p class="lead">
	  <a class="btn btn-primary btn-lg" href="https://warwick.ac.uk/fac/sci/wmg/" role="button">Learn more about WMG</a>
	</p>
</div>
</div>
{% endblock %}


