{% extends "base.html" %}

{% block title %}
WMGTSS: Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}">
{% endblock %}

{% block homeLink %}
<a class="nav-link active" href="{{ url_for('base.home') }}">Home</a>
{% endblock %}

{% block boardLinks %}
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('base.QABoardHome') }}">Q&A</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Lecture</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Resource</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Notice</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Calendar</a>
</li>
<li class="nav-item">
	<a class="nav-link disabled" href="#">Quiz</a>
</li>
{% endblock %}

{% block body %}
<div class="container text-center" style="padding: 1rem;">
	<h4 class="display-4">Welcome to WMGTSS</h2>
</div>
{% endblock %}


